# Configuration and build directories
.settings/
.sign/
.build/

# Configuration files needed by Tizen IDE
.project
.tproject
.sdk_delta.info

# Build files
.manifest.tmp
author-signature.xml
signature1.xml
*.wgt

# Dependencies directory
lib/
